.container {
  :global {
    .mySwiper {
      .swiper-slide {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh; /* 화면의 100% 높이 */
        grid-template-rows: 1fr; /* 하나의 행을 사용하고 화면의 높이를 채움 */
      }
    }
  }
}
